body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color:white;
}

.quem-somos{
    background-color: rgba(21, 22, 27, 1);
    color: rgba(250, 250, 250, 1);
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: rgb(59,70,81,1);
    color: white;
}

.servicos{
    background-color: whitesmoke;
    color: #202020;
}

.bg-footer{
    color: whitesmoke;
    background-color: rgb(27, 27, 27);
    padding-top: 8px;
    padding-bottom: 1px;
}

.bg-footer span{
    color: rgb(206, 206, 206);
}